<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Easy-Pay</title>
    <link rel="stylesheet" th:href="@{../layui/css/layui.css}" media="all" />
    <script th:src="@{../layui/layui.js}"></script>
    <script th:src="@{../jquery.min.js}"></script>
    <style>
        span {
            word-break: normal;
            width: auto;
            display: block;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow: hidden;
        }
        b {
            color: yellowgreen;
        }
    </style>
</head>
<body class="layui-layout-body">
this is pay success page
</body>
</html>